*{
    margin: 0px;
    padding: 0px;
}

header{
    padding-top: 20px;
    height: 40px;
    background-color: #cccccc;
    width:100%;

}

nav{
    float:right;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    /* padding: 0 10px; */
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

nav a:hover,nav .active{
    background-color: #000;
    color: #fff;
}
.container{
    margin: 0 50px;
    height: 500px;
    /* width: 100%; */

}

footer{
    height: 50px;
    background-color: #cccccc;
    width: 100%;
    text-align: center;
}